# environmental variables (secrets, paths, etc)
.env
.env.*

# virtual environments
venv
venv/*

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
launch.json

# notebooks which shouldn't be committed.
# we might want to commit outputs one day
notebooks/eda/python_to_csv.ipynb
notebooks/experiments/executed/

# logging things
nohup.out
logs/
.logs.out
.tb_logs/
tensorboard_nohup.out

# system temp files? To do with university NFS
.nfs*