# environmental variables (secrets, paths, etc)
.env
.env.*

# virtual environments
venv
venv/*

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
launch.json

# helper functions that I don't want to commit
notebooks/eda/python_to_csv.ipynb